name: Build

on:
  push:

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            triplet: x64-windows
            vcpkg_root: D:\a\vcpkg
            cache_path: Z:\vcpkg-x64-windows
          - os: ubuntu-latest
            triplet: x64-linux
            vcpkg_root: /home/runner/vcpkg
            cache_path: /mnt/webframe/vcpkg-x64-linux
          - os: macos-latest
            triplet: x64-osx
            vcpkg_root: /Users/runner/work/vcpkg
            cache_path: /Volumes/WebFrame/vcpkg-x64-osx
    env: 
      VCPKG_BINARY_SOURCES: >-
        clear;files,${{ matrix.cache_path }},readwrite

    steps:
      - name: Checkout vcpkg
        run: |
          git clone --branch 2026.01.16 https://github.com/microsoft/vcpkg ${{ matrix.vcpkg_root }}

      - name: Checkout WebFrame
        uses: actions/checkout@v4
      
      - name: MacOS brew packages
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew update
          brew install autoconf autoconf-archive automake libtool

      - name: Tailscale connect
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          additional-args: ${{ matrix.os == 'macos-latest' && '--accept-dns=false' || '' }}
          tags: tag:ci
          version: latest
      
      - name: Windows drive mapping
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          net use Z: \\synology.tail718264.ts.net\WebFrame /user:${{ secrets.CACHE_USER }} "${{ secrets.CACHE_PASSWORD }}"

      - name: Ubuntu drive mapping
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          ${{github.workspace}}/.github/scripts/ubuntu_setup.sh
          sudo apt-get update && sudo apt-get install cifs-utils
          sudo mkdir -p /mnt/webframe
          sudo mount -t cifs //synology.tail718264.ts.net/WebFrame /mnt/webframe -o username=${{ secrets.CACHE_USER }},password="${{ secrets.CACHE_PASSWORD }}",uid=$(id -u),gid=$(id -g),file_mode=0777,dir_mode=0777

      - name: MacOS drive mapping
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          find /Applications/Xcode_* -maxdepth 0 -type d ! -name 'Xcode_${{ env.XC_VERSION }}.app' -exec rm -rf {} \;
          sudo mkdir -p /Volumes/WebFrame
          sudo chown $(whoami) /Volumes/WebFrame
          mount -t smbfs //${{ secrets.CACHE_USER }}:${{ secrets.CACHE_PASSWORD }}@synology.tail718264.ts.net/WebFrame /Volumes/WebFrame

      - name: CMake build
        run: |
          cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=${{ matrix.vcpkg_root }}/scripts/buildsystems/vcpkg.cmake
          cmake --build build