name: Test

on:
  push:

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      env:
      VCPKG_BINARY_SOURCES: >-
        clear;files,${{ github.workspace }}${{ matrix.os == 'windows-latest' && '\vcpkg-cache' || '/vcpkg-cache' }},readwrite
      matrix:
        include:
          - os: windows-latest
            triplet: x64-windows
            shell: powershell
          - os: ubuntu-latest
            triplet: x64-linux
            shell: bash
          - os: macos-latest
            triplet: x64-osx
            shell: bash

    steps:
      - uses: actions/checkout@v4

      - name: Restore vcpkg cache
        uses: ./.github/cache
        with:
          triplet: ${{ matrix.triplet }}
      - name: Clone vcpkg
        run: git clone https://github.com/microsoft/vcpkg
      
      - name: Bootstrap vcpkg
        run: ${{matrix.os == 'windows-latest' && 'vcpkg\bootstrap-vcpkg.bat' || './vcpkg/bootstrap-vcpkg.sh'}}

