name: test

on:
  push:
  pull_request:

jobs:
  build-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lukka/get-cmake@latest
      - name: vcpkg setup
        uses: lukka/run-vcpkg@v11
      - name: run cmake
        run: cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=./vcpkg/scripts/buildsystems/vcpkg.cmake
      - name: build
        run: cmake --build build --config Release
      