name: Test

on:
  push:
  pull_request:

env:
  VCPKG_BINARY_SOURCES: "clear;files,${{ github.workspace }}/vcpkg-cache,readwrite"

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            triplet: x64-windows
          - os: ubuntu-latest
            triplet: x64-linux
          - os: macos-latest
            triplet: x64-osx

    steps:
      - uses: actions/checkout@v4

      - name: Restore vcpkg cache
        uses: ./.github/cache
        with:
          triplet: ${{ matrix.triplet }}

      - name: Setup vcpkg
        uses: ./.github/vcpkg
        with:
          os: ${{ matrix.os }}
          triplet: ${{ matrix.triplet }}