name: Test

on:
  push:

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            triplet: x64-windows
          - os: ubuntu-latest
            triplet: x64-linux
    env: 
      VCPKG_BINARY_SOURCES: >-
        clear;files,${{ github.workspace }}${{ matrix.os == 'windows-latest' && '\vcpkg-cache' || '/vcpkg-cache' }},readwrite

    steps:
      - name: Checkout vcpkg
        run:
          git clone --branch 2026.01.16 https://github.com/microsoft/vcpkg ${{ matrix.os == 'windows-latest' && 'D:\a\vcpkg' || 'vcpkg' }}

      - name: Checkout WebFrame
        uses: actions/checkout@v4
      
      - name: Tailscale connect
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
      
      - name: Windows drive mapping
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          net use Z: \\synology.tail718264.ts.net\WebFrame /user:${{ secrets.CACHE_USER }} "${{ secrets.CACHE_PASSWORD }}"
          dir Z:\

      - name: Ubuntu drive mapping
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt update && sudo apt install cifs-utils
          sudo mkdir -p /mnt/webframe
          sudo mount -t cifs //synology.tail718264.ts.net/WebFrame /mnt/webframe -o username=${{ secrets.CACHE_USER }},password="${{ secrets.CACHE_PASSWORD }}"
          ls /mnt/webframe
