name: test

on:
  push:
  pull_request:

jobs:
  build-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lukka/get-cmake@latest
      - name: vcpkg setup
        with:
          vcpkgGitCommitId: '${{ matrix.vcpkgCommitId }}'
        uses: lukka/run-vcpkg@v11