name: Test

on:
  push:

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            triplet: x64-windows
          - os: ubuntu-latest
            triplet: x64-linux
    env: 
      VCPKG_BINARY_SOURCES: >-
        clear;files,${{ github.workspace }}${{ matrix.os == 'windows-latest' && 'Z:\\vcpkg-cache' || '/mnt/webframe/vcpkg-cache' }},readwrite

    steps:
      - name: Windows vcpkg clone
        if: ${{ matrix.os == 'windows-latest' }}
        run: git clone --branch 2026.01.16 https://github.com/microsoft/vcpkg D:\a\vcpkg
        
      - name: Posix vcpkg clone
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          git clone --branch 2026.01.16 https://github.com/microsoft/vcpkg

      - name: Checkout WebFrame
        uses: actions/checkout@v4
      
      - name: Tailscale connect
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
      
      - name: Windows drive mapping
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          net use Z: \\synology.tail718264.ts.net\WebFrame /user:${{ secrets.CACHE_USER }} "${{ secrets.CACHE_PASSWORD }}"

      - name: Ubuntu drive mapping
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt update && sudo apt install cifs-utils
          sudo mkdir -p /mnt/webframe
          sudo mount -t cifs //synology.tail718264.ts.net/WebFrame /mnt/webframe -o username=${{ secrets.CACHE_USER }},password="${{ secrets.CACHE_PASSWORD }}"

      - name: Restore cache
        uses: ./.github/cache
        with:
          triplet: ${{ matrix.triplet }}

      - name: CMake Build
        run: |
          cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=${{ matrix.os == 'windows-latest' && 'D:\a\vcpkg\scripts\buildsystems\vcpkg.cmake' || 'vcpkg/scripts/buildsystems/vcpkg.cmake' }}
          cmake --build build --config Release