name: vcpkg

on:
  workflow_dispatch:
  push:
    paths:
      - vcpkg.json

jobs:
  build-deps:
    runs-on: ubuntu-latest
    env:
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
    steps:
      - uses: actions/checkout@v4

      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg
          ./vcpkg/bootstrap-vcpkg.sh

      - name: Install dependencies
        run: |
          ./vcpkg/vcpkg install --triplet x64-linux