name: vcpkg

on:
  workflow_dispatch:
  push:
    paths:
      - vcpkg.json

jobs:
  build-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lukka/get-cmake@v3.27
      - name: vcpkg setup
        uses: lukka/run-vcpkg@v11